* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.swiper-container {
  height: 50vh;
}
@media screen and (max-width: 800px) {
  .swiper-container {
    height: 30vh;
  }
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 3.5rem;
  border-bottom: 2px solid black;
}
.contact {
  padding: 0.75em;
  width: 45%;
}
.contact-details + .contact-details {
  margin-top: 1.5em;
}
.contact-details p {
  margin-left: 0.75em;
}
.form-container .instruction {
  font-weight: 600;
  margin-bottom: 1.75em;
}
.form > * {
  width: 100%;
  margin-bottom: 2.5em;
}
.form > input,
.flex-overide > input {
  padding: 0.25em;
  border: none;
  border-bottom: 1.5px solid black;
}
.flex-overide #how {
  margin-left: 0.25em;
}
.submit {
  background: black;
  color: white;
  border-radius: 5px;
}
.contact-us-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .heading {
    text-align: center;
  }
  .contact-us-container {
    flex-direction: column;
  }
  .instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
