* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.swiper-container {
  min-height: 10vh;
  max-height: 40vh;
  width: 85%;
  max-width: 1300px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex: 25%;
  max-width: 25%;
}
.column .recnt-news img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .swiper-container {
    height: 25vh;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.background-photo-contactUs {
  height: 300px;
  background: url(../components/carousel-photos/contact-photo.jpg) no-repeat
    center;
  background-size: cover;
}
.heading {
  font-size: 3.5rem;
  border-bottom: 2px solid black;
}
.contact {
  padding: 0.75em;
  width: 45%;
}
.contact-details + .contact-details {
  margin-top: 1.5em;
}
.contact-details p {
  margin-left: 0.75em;
}
.form-container .instruction {
  font-weight: 600;
  margin-bottom: 1.75em;
}
.form > * {
  width: 100%;
  margin-bottom: 2.5em;
}
.form > input,
.flex-overide > input {
  padding: 0.25em;
  border: none;
  border-bottom: 1.5px solid black;
}
.flex-overide #how {
  margin-left: 0.25em;
}
.submit {
  background: black;
  color: white;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .heading {
    text-align: center;
  }
  .flex {
    flex-direction: column;
  }
  .instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
