.swiper-container {
  height: 50vh;
}
@media screen and (max-width: 800px) {
  .swiper-container {
    height: 30vh;
  }
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact {
  max-width: 900px;
  margin: 0 auto;
}
.contact-heading {
  margin: 0 0.25em;
  font-size: 3.5rem;
  border-bottom: 2px solid black;
}
.contact-details + .contact-details {
  margin-top: 1.5em;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form > input,
.flex-overide > input {
  padding: 0.25em;
  border: none;
  border-bottom: 1.5px solid black;
}
.flex-overide #how {
  margin-left: 0.25em;
}

@media (max-width: 768px) {
  .contact-us-container {
    flex-direction: column;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .form-container input {
    width: 100%;
  }
  .instruction {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
