header {
  padding: 0.75em 1em;
  background-color: rgba(255, 255, 255, 0.788);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}
.sticky {
  padding: 0em 1em !important;
}
.sticky:hover {
  background-color: white;
}
@media (min-width: 576px) {
  .navbar-nav {
    margin-left: auto;
  }
  .nav-item + .nav-item {
    padding-left: 2.5rem;
  }
}
@media (max-width: 576px) {
  .navbar-nav {
    margin: 0 auto;
  }
}
