.button-section {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 22;
  bottom: 1em;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-button {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  margin-bottom: 0.2em;
  font-weight: 500;
  font-size: 15px;
  padding: 0.2em 0.75em;
  transition: all 0.5s ease;
  border: 2px solid transparent;
}

.page-button:hover {
  color: rgba(0, 0, 0, 0.75);
  border-color: black;
  background-color: white;
}
.arrow-icon {
  color: black;
  position: relative;
  font-size: 1.3em;
}
.button-container:hover .arrow-icon {
  animation-name: arrowBounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes arrowBounce {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}
