#section-swiper-mobile {
  height: 80vh;
  position: relative;
}
.filters {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
}
.swiper-mobile {
  height: 350px;
}
.swiper-wrapper {
  align-items: center;
}
.slide-mobile {
  height: 275px;
  width: 320px;
  font-size: 0.75rem;
  border-radius: 7px;
  transition: all 0.45s ease-in-out;
}
@media (max-width: 450px) {
  .slide-mobile {
    height: 250px;
    width: 175px !important;
  }
}
.slide-mobile .type {
  position: absolute;
  top: -17px;
  right: 0px;
  z-index: 100;
}
.slide-mobile .number {
  position: absolute;
  left: 0px;
  z-index: 100;
}
.slide-mobile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}
.slide-mobile-active {
  transform: scale(1.15);
  transition: all 0.45s ease-in-out;
}
