html,
body {
  font-family: "HelveticaNew";
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}
img {
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
